.grid-container{
  display: grid;
  grid-gap: 1em;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}


/*Background colors are for debugging purposes only*/
.grid-container:nth-child(odd){
  background-color : blue;
}

.grid-container:nth-child(even){
    background-color: red;
}

.grid-item{

}
