
.title{
text-align: center;
}

.container{
  margin-top: 1vh;
  box-sizing: content-box;
  margin: 0 auto;
  display: grid;
  height: 30vw;
  width: 30vw;
  border: 1px rgba(0, 0, 0) solid;
}

.grid-item{
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
